/* You can add global styles to this file, and also import other style files */
.input-group-addon {
    width: 0;
}

@media (max-width: 768px) {
    .col-centered{
    float: none;
    margin: 0 auto;
    }
}